<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.dateorduck"
        version   = "1.0.6">

    <name>Date or Duck</name>

    <description>
        Meeting people, made easy.
    </description>

    <author href="http://dateorduck.com" email="dateorduck@gmail.com">
        Date or Duck 
    </author>

    <!-- Define the main entry-point to the application -->
    <content src="index.html" />

        
    <!-- Customize your app and platform with the preference element. -->
    <preference name="DisallowOverscroll"         value="true" />
    <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-minSdkVersion"      value="15" />
<preference name="target-device" value="handset" />
        

        
    <!-- Define a specific version of PhoneGap to build into your app. -->
     <!--<preference name="phonegap-version"       value="cli-6.0.0" />-->

        <preference name="orientation" value="portrait" />



       
        

        
    <!-- Plugins -->
    <!-- Core plugins -->

     <plugin name="cordova-plugin-geolocation"         source="npm" />
    <plugin name="cordova-plugin-inappbrowser"        source="npm" />
    <plugin name="cordova-plugin-whitelist"           source="npm" />
    <plugin name="cordova-plugin-camera" source="npm" />
          <plugin name="cordova-plugin-media-capture" source="npm" />

          <plugin name="ionic-plugin-keyboard" source="npm" />
        <plugin name="cordova-plugin-badge" source="npm" />

       <plugin spec="https://github.com/jadman02/cordova-plugin-fcm.git" source="git" />


     <!-- Plugins 
                       <plugin spec="https://github.com/jadman02/cordova-plugin-fcm-config.git" source="git" />
    <plugin name="cordova-plugin-vibration"           source="npm" />

 
<plugin name="cordova-plugin-fcm" source="npm" />
-->

      <gap:plugin name="cordova-plugin-customurlscheme" source="npm">
  <param name="URL_SCHEME" value="dateorduck" />
</gap:plugin>

<gap:config-file platform="ios" parent="NSPhotoLibraryUsageDescription">
    <string>Upload images from photo library</string>
</gap:config-file>
        
<gap:config-file platform="ios" parent="NSCameraUsageDescription">
    <string>Take photos with your camera</string>
</gap:config-file>
        
        <config-file platform="ios" target="*-Info.plist" parent="LSApplicationQueriesSchemes">
        <array>
            <!-- https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin -->
            <string>whatsapp</string>
            <string>fb</string>
            <!-- https://github.com/jeduan/cordova-plugin-facebook4/blob/master/plugin.xml#L136-L143 -->
            <string>fbapi</string>
            <string>fb-messenger-api</string>
            <string>fbauth2</string>
            <string>fbshareextension</string>
        </array>
    </config-file>
        
 <gap:plugin name="cordova-plugin-facebook4" source="npm" spec="1.7.4">
        <param name="APP_ID" value="784956164912201" />
        <param name="APP_NAME" value="Date or Duck" />
    </gap:plugin>

        
        <platform name="ios">
                

                
<icon src="res/icons/ios/icon-small.png" width="29" height="29"/>
<icon src="res/icons/ios/icon-small-2x.png" width="58" height="58"/>
<icon src="res/icons/ios/icon-40.png" width="40" height="40"/>
<icon src="res/icons/ios/icon-40-2x.png" width="80" height="80"/>
<icon src="res/icons/ios/icon-50.png" width="50" height="50"/>
<icon src="res/icons/ios/icon-50-2x.png" width="100" height="100"/>
<icon src="res/icons/ios/icon.png" width="57" height="57"/>
<icon src="res/icons/ios/icon-2x.png" width="114" height="114"/>
<icon src="res/icons/ios/icon-60.png" width="60" height="60"/>
<icon src="res/icons/ios/icon-60-2x.png" width="120" height="120"/>
<icon src="res/icons/ios/icon-60-3x.png" width="180" height="180"/>
<icon src="res/icons/ios/icon-72.png" width="72" height="72"/>
<icon src="res/icons/ios/icon-72-2x.png" width="144" height="144"/>
<icon src="res/icons/ios/icon-76.png" width="76" height="76"/>
<icon src="res/icons/ios/icon-76-2x.png" width="152" height="152"/>
<splash src="res/screens/ios/screen-iphone-portrait.png" width="320" height="480"/>
<splash src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960"/>
<splash src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136"/>
<splash src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334"/>
<splash src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208"/>
<splash src="res/screens/ios/screen-ipad-portrait.png" width="768" height="1024"/>
<splash src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048"/>
</platform>
<platform name="android">
<icon qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
<icon qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
<icon qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
<icon qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
<icon qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
<icon qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>
<splash qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png"/>
<splash qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png"/>
<splash qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png"/>
<splash qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png"/>
</platform>
        
    <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
        

    <access origin="*" />
        <access origin="content:///*" />

    <!--
       <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
       <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
       <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->


   
    
        <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="fb:*" />
    <allow-intent href="whatsapp:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
        

</widget>
