/* Rules for all screen sizes */

@font-face {
  font-family: 'Pacifico';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Pacifico-regular.eot');
  src: url('../fonts/Pacifico-regular.eot?#iefix') format('embedded-opentype'),
       local('Pacifico Regular'),
       local('Pacifico-regular'),
       url('../fonts/Pacifico-regular.woff2') format('woff2'),
       url('../fonts/Pacifico-regular.woff') format('woff'),
       url('../fonts/Pacifico-regular.ttf') format('truetype'),
       url('../fonts/Pacifico-regular.svg#Pacifico') format('svg');
}

/* Rules for all screen sizes */

@font-face {
  font-family: 'Pacifico';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Pacifico-regular.eot');
  src: url('/fonts/Pacifico-regular.eot?#iefix') format('embedded-opentype'),
       local('Pacifico Regular'),
       local('Pacifico-regular'),
       url('/fonts/Pacifico-regular.woff2') format('woff2'),
       url('/fonts/Pacifico-regular.woff') format('woff'),
       url('/fonts/Pacifico-regular.ttf') format('truetype'),
       url('/fonts/Pacifico-regular.svg#Pacifico') format('svg');
}
.swiper-zoom-container > img, .swiper-zoom-container > svg, .swiper-zoom-container > canvas{object-fit:cover}
.hiderowpref {display:none}
.tabbar a.active.imagelibrary{background-color:transparent !important;}
.picker-items-col-wrapper{text-align: center; width: 100%;}
.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 1s linear;
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-in-out;
}


@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

#messagearea{
-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c8c8cd;
    background: #fff;
    border-radius: 17px;
    box-shadow: none;
    display: block;
    padding: 6px 15px;
    margin: 0;
    width: 100%;
    height: 34px;
    color: #000;
    font-size: 17px;
    line-height: 20px;
    font-family: inherit;
    resize: none;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
}

#datemessageq{
-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c8c8cd;
    background: #fff;
    border-radius: 17px;
    box-shadow: none;
    display: block;
    padding: 6px 15px;
    margin: 0;
    width: 100%;
    height: 34px;
    color: #000;
    font-size: 17px;
    line-height: 20px;
    font-family: inherit;
    resize: none;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
}

.homedate {background-color:#ccc;color:white;-webkit-filter: grayscale(80%);}
.homeduck {background-color:#ccc;color:white;-webkit-filter: grayscale(80%);}

.homedate.active{-webkit-filter:none;}
.homeduck.active{-webkit-filter:none;}

.reorderinner:after {background-color:transparent !important;}
.availrec {background-color:#e3e3e4;border-radius:0px;}
.selecrec {background-color:#4cd964;color:white !important;border-radius:15px;}
.availblock.item-inner:after {background-color:transparent}
.navbar:after{background-color:transparent;}
.list-block ul:before{background-color:transparent;}
.swiper-pagination-bullet{background-color:white;opacity:0.9}
.swiper-pagination-bullet-active {background-color:#007aff;opacity:1}
.slidee{-webkit-filter:grayscale(80%);}
.slidee-selected{-webkit-filter:none;}
.actions-modal{z-index:20000}

.virtual-list ul {background-color:rgb(239, 239, 244)}
.modal{z-index:30000;}
.toolbar:before {background-color:transparent;}
.photo-browser-slide img{max-width:none !important;max-height:none !important; }

.popup {z-index:20000;}
.picker-columns {z-index:30000;}
.datebutton {border-color:transparent;-webkit-filter:grayscale(60%);background-color:#ccc;}
.duckbutton {border-color:transparent;-webkit-filter:grayscale(60%);background-color:#ccc;}

.duckbutton.active {-webkit-filter:none;color:white;background-color:#ffc30e;}
.datebutton.active {-webkit-filter:none;color:white;background-color:#ffc30e;}





/* Browser is mobile or tablet size 
.likesme.active {background-color:transparent !important;}
*/
.likesme {transparent;color:rgb(0, 122, 255);-webkit-filter:none;-webkit-animation-name: Floating;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-timing-function: ease-in;}
    .lets {-webkit-animation-name: Floating;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: ease-in;}
        .notifbounce {-webkit-animation-name: Floating2;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-timing-function: ease-in;}
        .requestbutton {-webkit-animation-name: Floating;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: ease-in;}
@-webkit-keyframes Floating{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

@-webkit-keyframes Floating2{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, -4px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

.picker-item.picker-selected {color:#2196f3;}
.picker-modal{z-index:500000;}
.image-clear {background-color:transparent !important;}
.interestbutton {-webkit-filter:grayscale(100%);padding:5px;}
.interestchosen {-webkit-filter:none;background-color:#2196f3;}
.icon-forward:before{display:none;}
.picker-calendar-day {color:white;background-color:black;}
.toolbar ~ .photo-browser-captions {bottom:90px;background-color:white;display:none;}
.whitetext{color:white !important;}
.tabbar a {color:white;}
.tabbar a.active {color:white;background-color:#2196f3;}
.list-block ul:after{background-color:transparent;}
.tab-chosen{color:white}

/* Browser is mobile or tablet size */
@media (max-width: 769px) {

    
    }
/* Browser is desktop size */
@media (min-width: 769px) {

    
    
    }

/*
old css
.photo-browser-slide img {margin-top:-55px;}
.popup {z-index:20000;}
.picker-columns {z-index:30000;}
.datebutton {border-color:#ccc;}
.duckbutton {border-color:#ccc;}
.likesme {border-color:rgb(0, 122, 255);color:rgb(0, 122, 255);}
.picker-item.picker-selected {color:#2196f3;}
.picker-modal{z-index:500000;}
.image-clear {background-color:transparent !important;}
.interestbutton {-webkit-filter:grayscale(100%);padding:5px;}
.interestchosen {-webkit-filter:none;background-color:#2196f3;}
.icon-forward:before{display:none;}
.picker-calendar-day {color:white;background-color:black;}
.toolbar ~ .photo-browser-captions {bottom:110px;background-color:white;}

.tabbar a.active {color:white;}

*/
